:root {
    font-size: 10px;
    --primary-color: rgb(170, 52, 127);
    --secondary-color: rgb(154, 28, 28);
    font-family: "Verdana", "Arial", "Helvetica", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    background-color: gray;
    align-items: center;
    padding: .5rem 0;
}

header>img {
    height: 5rem;
    width: 20rem;
    margin-right: 4rem;
}


.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    height: 1.5rem;
}

.search img {
    height: 1.3rem;
}




main {
        background-color: rgb(148, 97, 97);

}

.blog-container {
    display: flex;
    width: 55%;
    margin: 0 auto;
    padding-top: 2rem;
    justify-content: space-around;
    background-color: rgb(148, 97, 97);

}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    width: 15%;
    padding: 1rem;
    background-color: rgb(170, 52, 127);
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
}

.user-container h2 {
    display: block;
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
}

.user-container img {
    display: block;
    margin: 2rem auto .5rem;
    width: 15rem;
    height: 25rem;
}

.user-description {
    margin-top: 1rem;
    text-align: left;
}

.user-description p {
    text-align: center;
    margin-top: 1rem;
}

.usernav{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    margin-top: 1.5rem;
    
}

.usernav ul{
    text-align: left;
    
}

.usernav li{
    list-style: none;
    margin-bottom: .5rem;
    
}

.usernav li a{
    text-decoration: none;
    color: var(--secondary-color);
}



.article-container {
    width: 60%;
    /* padding: 1rem; */
    /* margin: 0px 1rem; */
    display: flex;
    flex-direction: column;
    /* background-color: rgb(170, 52, 127); */
}

.infos-container {
    width: 15%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(170, 52, 127);
    border: 2px solid black;
    border-radius: 20px;
}


.publication {
    display: flex;
    flex-direction: column;
    background-color: pink;
    /* margin: auto; */
    align-items: center;
    margin-bottom: 1rem;
    /* padding: .5rem; */
    width: 100%;

}

.publication-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--secondary-color);
}

.publication img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    margin: 1rem 0;
}

.publication-com-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
    width: 100%;
}

.comment-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.comment-banner img{
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
}

.publication-footer {
    width: 100%;
    text-align: left;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
}

.addcom-form{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.addcom-form > *{
    margin-bottom: 2rem;
}

